div.list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
 }

div.todoitem {
    padding: 5px 40px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 4px;
    width: 25vw;
}